<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<canvas id="home"></canvas>
<%= javascript_pack_tag 'home'%>

<main>
  <header>
    <h1>Crealo</h1>
  </header>

  <blockquote>
    <p><span id="typed-text"></span></p>
  </blockquote>

  <section>
    <h2>Title</h2>
    <p>
      Slider
    </p>

    <p>
      Slider
    </p>

    <p>
      Slider
    </p>

  </section>

  <section class="light">
    <h2>Title</h2>

    <p>
      Slider
    </p>

    <h2>Title</h2>

    <p>
      Slider
    </p>

  </section>

  <blockquote>
    <p>The best way out is always through <br>-Robert Frost</p>
  </blockquote>

  <section class="left">
    <h2>Title</h2>

    <h3>Title</h3>
    <p>
      Slider
    </p>
    <h3>Title</h3>
    <p>
      Slider
    </p>
    <h3>Title</h3>
    <p>
      Slider
    </p>
  </section>

  <blockquote>
    <p>Thank you for using Crealo!</p>
  </blockquote>
</main>

<%= javascript_pack_tag 'typed'%>
