
<script>
  image = "<%= cl_image_path(@nfts[0].photo.key, :cloud_name => "dh3mihvcm") %>"
</script>

<br><br><br><br><br><br><br><br><br><br>
<h1 class="white">3D NFTS</h1>
<p class="white">WELCOME</p>

<canvas id="home"></canvas>
<%= javascript_pack_tag 'home'%>
<div class="container mt-5">
<%= link_to 'Marketplace', nfts_path, class: "text-center btn btn-dark el-boton " %>




</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
