.navbar-lewagon {
  justify-content: space-between;
  background: hsl(0, 0%, 100% / 0.1);
  backdrop-filter: blur(1rem);
  background-color: rgba(0, 0, 0, 0.6);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
